<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card padding>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-card-header>
          <ion-card-title>
            Your feedback is valuable for us!
          </ion-card-title>
        </ion-card-header>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card-content>
          <ion-text>Please submit the feedback sincerely and let us know about your experience using this app. Your
            personal data like name, email and other won't be used to correspond to you in any form regarding the
            feedback. <br><br> Click on the button below to go to the form.
          </ion-text>
        </ion-card-content>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" offset="3">
        <ion-button (click)="onClickFeedback()">Feedback Form</ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>