.close-fake {
    --background: transparen;

    ion-icon {
        font-size: 2rem;
    }

    margin-top: 40px;
}

ion-content {
    --background: rgba(0, 0, 0, 0.75);
}

ion-slides {
    height: 80%;
}