<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="tabsPressed()" class="custom-disabled-class">
      <!-- tab="academic"-->
      <ion-label>Academic</ion-label>
      <ion-icon name="school"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="tabsPressed()" class="custom-disabled-class">
      <!--tab="scholarship"-->
      <ion-label>Scholarship</ion-label>
      <ion-icon name="logo-usd"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="all">
      <ion-label>Induction</ion-label>
      <ion-icon name="paper"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="tabsPressed()" class="custom-disabled-class">
      <!--tab="news"-->
      <ion-label>News</ion-label>
      <ion-icon name="flash"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="tabsPressed()" class="custom-disabled-class">
      <!--tab="other"-->
      <ion-label>Other</ion-label>
      <ion-icon name="list"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>